In [3]:
import pandas as pd
import umap
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.cm import ScalarMappable
import seaborn as sns
from pandas import DataFrame

In [4]:
ckd_data_df=pd.read_csv('./ckd_emr_data.csv',skipinitialspace = True )

In [5]:
features_all_csn = pd.read_csv('./features_all_csn_id.csv',skipinitialspace = True)
features_all_csn

,Unnamed: 0,cluster_label,pat_id,Unnamed: 0.1,ALK_val,ALK_avail,ALT_SGPT_val,ALT_SGPT_avail,AST_SGOT_val,AST_SGOT_avail,...,TROPONIN_avail,WT_val,WT_avail,age,interval,sex,race_1,race_2,csn,egfr_new
0,0,78,34154,1,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,61.082877,0.000000,1.0,1,0,18671080,101.795554
1,1,26,63213,2,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,39.344521,0.000000,0.0,1,0,14193917,92.645488
2,2,39,64588,3,-0.812508,1,-1.009228,1,-0.548554,1,...,1,-0.671148,1,71.218493,0.002740,1.0,0,1,42061480,0.000000
3,3,66,66790,4,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,69.260959,2.023288,1.0,1,0,31561343,17.379702
4,4,1,27645,5,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,71.950000,0.000000,0.0,1,0,16019784,91.094218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508727,508727,25,66479,508728,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,65.951370,0.235616,1.0,0,1,19858874,65.920879
508728,508728,38,51842,508729,0.382507,1,2.372679,1,1.197019,1,...,0,0.000000,0,55.991096,0.290411,1.0,0,1,30031330102,0.000000
508729,508729,14,49044,508730,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,68.515068,0.000000,0.0,1,0,27271211,87.196013
508730,508730,0,11397,508731,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,64.243836,0.326712,0.0,1,0,42926350,94.141032
508731,508731,25,39391,508732,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,43.081507,0.000000,0.0,1,0,14043095,78.261258

In [6]:
embeddings_all_csn = pd.read_csv('./embeddings_all_id_cluster.csv',skipinitialspace = True )

In [7]:
greenline = [26, 22, 83, 88, 46, 51, 24, 65, 4, 16, 89, 30, 32, 13, 78, 18, 1, 64, 97, 69, 33, 60, 28, 3, 20, 74, 62, 91, 66, 94, 75, 44, 61, 54]
blueline = [26, 22, 83, 88, 46, 51, 24, 65, 4, 16, 89, 30, 32, 13, 78, 18, 1, 64, 97, 69, 33, 0, 99, 58, 29, 47, 82, 67, 14]
orangeline = [26, 22, 83, 88, 46, 51, 24, 65, 4, 16, 49, 85, 72, 34, 25, 10, 73, 5, 59]

after_green = [60, 28, 3, 20, 74, 62, 91, 66, 94, 75, 44, 61, 54]
after_blue = [0, 99, 58, 29, 47, 82, 67, 14]

after_orange = [49, 85, 72, 34, 25, 10, 33]
after_green_blue = [89, 30, 32, 13, 78, 18, 1, 64, 97, 69, 33, 60, 28, 0, 99]

before_1 = [26, 22, 83, 88, 46, 51, 24, 65, 4, 16]
before_2 = [89, 30, 32, 13, 78, 18, 1, 64, 97, 69, 33]

In [8]:
embeddings_all_csn.head()

,Unnamed: 0,pat_id,cluster_label,csn,Unnamed: 0.1,V1,V2,V3,V4,V5,...,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18
0,0,34154,78,18671080,1,0.134645,-0.444825,0.041298,-0.004051,-0.166252,...,0.059873,0.214391,-0.100970,-0.528387,-0.178066,0.197053,-0.301322,-0.202593,0.240425,-0.338273
1,1,63213,26,14193917,2,0.495900,-0.061404,0.060044,-0.102269,-0.271503,...,0.287063,0.017770,0.015871,-0.431083,0.292962,0.055220,-0.191787,0.023173,0.201315,0.022257
2,2,64588,39,42061480,3,-0.165966,0.422496,0.164543,-0.234647,-0.203028,...,0.425788,0.068721,0.028617,-0.085463,-0.021207,0.047387,0.012134,0.007095,-0.003157,-0.056192
3,3,66790,66,31561343,4,0.032021,-0.044164,-0.156993,0.029117,0.182007,...,0.055838,0.067537,0.061455,-0.505723,-0.033781,0.409207,0.151697,0.135983,0.199895,-0.329343
4,4,27645,1,16019784,5,-0.035352,-0.197897,-0.210090,0.468621,-0.183028,...,0.307138,0.321292,-0.020448,-0.451349,-0.270814,0.120880,-0.002772,-0.184964,-0.039373,-0.087462

In [9]:
green_points = features_all_csn[features_all_csn['cluster_label'].isin(greenline)]
orange_points = features_all_csn[features_all_csn['cluster_label'].isin(orangeline)]
blue_points = features_all_csn[features_all_csn['cluster_label'].isin(blueline)]

after_green_points = features_all_csn[features_all_csn['cluster_label'].isin(after_green)]
after_blue_points = features_all_csn[features_all_csn['cluster_label'].isin(after_blue)]

after_orange_points = features_all_csn[features_all_csn['cluster_label'].isin(after_orange)]
after_green_blue_points = features_all_csn[features_all_csn['cluster_label'].isin(after_green_blue)]

before_1_points = features_all_csn[features_all_csn['cluster_label'].isin(before_1)]
before_2_points = features_all_csn[features_all_csn['cluster_label'].isin(before_2)]

In [8]:
# The first common line
to_orange_pat = list(set(before_1_points.pat_id).intersection(set(after_orange_points.pat_id)))
to_green_blue_pat = list(set(before_1_points.pat_id).intersection(set(after_green_blue_points.pat_id)))
to_orange_pat_points = before_1_points[before_1_points['pat_id'].isin(to_orange_pat)]
to_green_blue_pat_points = before_1_points[before_1_points['pat_id'].isin(to_green_blue_pat)]

In [9]:
# The second common line: Find the patient go to green and blue line
to_green_pat = list(set(before_2_points.pat_id).intersection(set(after_green_points.pat_id)))
to_blue_pat = list(set(before_2_points.pat_id).intersection(set(after_blue_points.pat_id)))
to_green_pat_points = before_2_points[before_2_points['pat_id'].isin(to_green_pat)]
to_blue_pat_points = before_2_points[before_2_points['pat_id'].isin(to_blue_pat)]

In [10]:
before_1_class = []
for csn_num in before_1_points.index:
    if csn_num in to_orange_pat_points.index:
        before_1_class.append("orange")
    elif csn_num in to_green_blue_pat_points.index:
        before_1_class.append("green_blue")
    else:
        before_1_class.append("TBD")

if('before_1_class' in before_1_points.columns):
    del before_1_points["before_1_class"]
before_1_points.insert(0, 'before_1_class', before_1_class)

In [11]:
before_2_class = []
for csn_num in before_2_points.index:
    if csn_num in to_green_pat_points.index:
        before_2_class.append("orange")
    elif csn_num in to_blue_pat_points.index:
        before_2_class.append("blue")
    else:
        before_2_class.append("TBD")

if('before_2_class' in before_1_points.columns):
    del before_1_points["before_2_class"]
before_2_points.insert(0, 'before_2_class', before_2_class)

In [14]:
raw_embedding = embeddings_all_csn.iloc[:, 5: ]

In [15]:
training_set_1 = before_1_points[before_1_points['before_1_class'].isin(['green_blue', 'orange'])]
data_training_set_1 = raw_embedding[raw_embedding.index.isin(training_set_1.index)]
test_set_1 = before_1_points[before_1_points['before_1_class'].isin(['TBD'])]
data_test_set_1 = raw_embedding[raw_embedding.index.isin(test_set_1.index)]

In [16]:
training_set_2 = before_2_points[before_2_points['before_2_class'].isin(['green', 'blue'])]
data_training_set_2 = raw_embedding[raw_embedding.index.isin(training_set_2.index)]
test_set_2 = before_2_points[before_2_points['before_2_class'].isin(['TBD'])]
data_test_set_2 = raw_embedding[raw_embedding.index.isin(test_set_2.index)]

In [17]:
from sklearn.neighbors import KNeighborsClassifier
neigh1 = KNeighborsClassifier(n_neighbors=5)
neigh1.fit(data_training_set_1, training_set_1['before_1_class'])

neigh2 = KNeighborsClassifier(n_neighbors=5)
neigh2.fit(data_training_set_2, training_set_2['before_2_class'])

KNeighborsClassifier()

In [18]:
len(training_set_1[training_set_1['before_1_class']=="orange"]) #17613
len(training_set_1[training_set_1['before_1_class']!="orange"]) #942

942

In [19]:
new_class_list = []
for csn_num in before_1_points.index:
    if csn_num in to_orange_pat_points.index:
        new_class_list.append("orange")
    elif csn_num in to_green_blue_pat_points.index:
        new_class_list.append("green_blue")
    else:
        one_row = before_1_points[before_1_points.index == csn_num]
        new_class_list.append(neigh1.predict(raw_embedding[raw_embedding.index == list(one_row.index)[0]])[0])

if('new_class_list' in before_1_points.columns):
    del before_1_points["new_class_list"]
before_1_points.insert(0, 'new_class_list', new_class_list)
before_1_points

,new_class_list,before_1_class,Unnamed: 0,cluster_label,pat_id,Unnamed: 0.1,ALK_val,ALK_avail,ALT_SGPT_val,ALT_SGPT_avail,...,TROPONIN_avail,WT_val,WT_avail,age,interval,sex,race_1,race_2,csn,egfr_new
1,orange,orange,1,26,63213,2,0.0,0,0.0,0,...,0,0.0,0,39.344521,0.000000,0.0,1,0,14193917,92.645488
24,orange,orange,24,88,43634,25,0.0,0,0.0,0,...,0,0.0,0,29.751370,0.000000,1.0,1,0,14255854,145.670656
30,orange,orange,30,65,30356,31,0.0,0,0.0,0,...,0,0.0,0,52.164384,0.000000,1.0,1,0,17152520,102.589338
44,orange,orange,44,65,52545,45,0.0,0,0.0,0,...,0,0.0,0,41.060959,4.981507,1.0,1,0,18209327,82.906345
45,orange,orange,45,88,34003,46,0.0,0,0.0,0,...,0,0.0,0,43.692466,0.106849,0.0,1,0,21258985,89.858625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508546,orange,orange,508546,4,60877,508547,0.0,0,0.0,0,...,0,0.0,0,68.813699,3.333562,1.0,0,1,23507995,84.616477
508638,orange,TBD,508638,4,28030,508639,0.0,0,0.0,0,...,0,0.0,0,52.263014,0.000000,1.0,1,0,14670985,97.673701
508643,orange,orange,508643,4,42331,508644,0.0,0,0.0,0,...,0,0.0,0,53.537671,0.000000,1.0,1,0,18117328,62.059842
508655,orange,orange,508655,4,26343,508656,0.0,0,0.0,0,...,0,0.0,0,48.117808,0.000000,1.0,1,0,17421878,71.018698
508688,orange,orange,508688,4,7813,508689,0.0,0,0.0,0,...,0,0.0,0,46.336986,0.000000,1.0,1,0,39088490,63.646131

In [20]:
new_class_list = []
for csn_num in before_2_points.index:
    if csn_num in to_green_pat_points.index:
        new_class_list.append("green")
    elif csn_num in to_blue_pat_points.index:
        new_class_list.append("blue")
    else:
        one_row = before_2_points[before_2_points.index == csn_num]
        new_class_list.append(neigh2.predict(raw_embedding[raw_embedding.index == list(one_row.index)[0]])[0])

if('new_class_list' in before_2_points.columns):
    del before_1_points["new_class_list"]
before_2_points.insert(0, 'new_class_list', new_class_list)
before_2_points

,new_class_list,before_2_class,Unnamed: 0,cluster_label,pat_id,Unnamed: 0.1,ALK_val,ALK_avail,ALT_SGPT_val,ALT_SGPT_avail,...,TROPONIN_avail,WT_val,WT_avail,age,interval,sex,race_1,race_2,csn,egfr_new
0,blue,TBD,0,78,34154,1,0.0,0,0.0,0,...,0,0.0,0,61.082877,0.000000,1.0,1,0,18671080,101.795554
4,blue,TBD,4,1,27645,5,0.0,0,0.0,0,...,0,0.0,0,71.950000,0.000000,0.0,1,0,16019784,91.094218
18,blue,TBD,18,69,43003,19,0.0,0,0.0,0,...,0,0.0,0,43.150000,0.113699,0.0,1,0,14746440,55.248484
27,blue,blue,27,18,49104,28,0.0,0,0.0,0,...,0,0.0,0,56.512329,0.000000,0.0,1,0,14090470,101.528346
58,blue,blue,58,69,67255,59,0.0,0,0.0,0,...,0,0.0,0,50.776712,2.856849,0.0,1,0,23598784,67.845081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508680,green,orange,508680,1,65553,508681,0.0,0,0.0,0,...,0,0.0,0,64.467123,11.617808,1.0,0,1,27114895,46.705018
508690,green,orange,508690,32,29204,508691,0.0,0,0.0,0,...,0,0.0,0,82.452055,10.206849,1.0,1,0,23320472,24.947550
508693,blue,TBD,508693,1,59933,508694,0.0,0,0.0,0,...,0,0.0,0,46.119178,5.675342,1.0,0,1,17423835,15.234792
508722,green,orange,508722,69,58940,508723,0.0,0,0.0,0,...,0,0.0,0,47.533562,12.797945,0.0,1,0,27302617,104.799957
508726,blue,TBD,508726,13,46436,508727,0.0,0,0.0,0,...,0,0.0,0,66.138356,7.295890,1.0,0,0,14144752,41.064234

In [21]:
import numpy as np
from scipy.stats import chi2_contingency

def ava_p_val(df_1, df_2):
    column_name = ['var_name', 'df_1_0', 'df_1_1', 'df_2_0', 'df_2_1', 'chi2', 'dof', 'p_val']
    res_df = pd.DataFrame(columns=column_name)
    for i in range(len(var_ava)):
        var = var_ava[i]
        x1 = df_1[df_1[var]==0]
        x1 = len(x1)   
        y1 = df_1[df_1[var]==1]
        y1 = len(y1)
        x2 = df_2[df_2[var]==0]
        x2 = len(x2)
        y2 = df_2[df_2[var]==1]
        y2 = len(y2)
        if y1==0 or y2==0:
            print(var, x1, y1, x2, y2)
        else:
            obs = np.array([[x1, y1], [x2, y2]])
            chi2, p, dof, ex = chi2_contingency(obs)
            res_df = res_df.append({'var_name':var, 'df_1_0':x1, 'df_1_1':y1, 'df_2_0':x2, 'df_2_1':y2, 'chi2':chi2, 'dof':dof, 'p_val': p}, ignore_index=True)
    display(res_df)
    fdr = getfdr(res_df.p_val)

In [180]:
var_ava = ['ALK_avail', 'ALT_SGPT_avail',
           'AST_SGOT_avail','BP_DIASTOLIC_avail',
           'BP_SYSTOLIC_avail', 'CHOLESTEROL_avail', 
           'CREATINE_KINASE_avail','EGFR_avail', 
           'HBA1C_avail', 'HDL_avail',
           'HEMOGLOBIN_avail', 'HT_avail', 'INR_avail',
           'LDL_avail','TBIL_avail',
           'TRIGLYCERIDES_avail', 'TROPONIN_avail', 
           'WT_avail']
var_val = [
            'ALK_val', 'ALT_SGPT_val', 
            'AST_SGOT_val', 'BP_DIASTOLIC_val', 
            'BP_SYSTOLIC_val', 'CHOLESTEROL_val', 
            'CREATINE_KINASE_val', 'EGFR_val', 
            'HBA1C_val', 'HDL_val',
            'HEMOGLOBIN_val','HT_val', 'INR_val', 
            'LDL_val', 'TBIL_val', 
            'TRIGLYCERIDES_val', 'TROPONIN_val', 
            'WT_val', 
          ]

In [182]:
import scipy.stats as stats
def val_p_val(df_1, df_2, color_1, color_2, group):
    p_vals = []
    stat = []
    col_name = ['group', 'var_name', 'len_x', 'len_y', 'mean_x', 'mean_y', 'stat', 'p_val']
    res_df = pd.DataFrame(columns=col_name)
    for i in range(len(var_ava)):
        avail = var_ava[i]
        var = var_val[i]
        x = np.array(df_1[df_1[avail]>=0.00001][var])
        y = np.array(df_2[df_2[avail]>=0.00001][var])
        if len(x)<=1 or len(y)<=1:
#             res_df = res_df.append({'group': group, 'var_name':var, 'len_x':len(x), 'len_y':len(y), 
#                                     'mean_x':x.mean(), 'mean_y':y.mean(),
#                                     'stat':'NA', 'p_val': 'NA'}, ignore_index=True)
            p_vals.append('NA')
            stat.append('NA')
        else:
            res = stats.ttest_ind(a=x, b=y)
            p_vals.append(res.pvalue)
            stat.append(res.statistic)
            res_df = res_df.append({'group': group, 'color_1': color_1, 'color_2':color_2, 
                                    'var_name':var, 'len_x':len(x), 'len_y':len(y), 
                                    'mean_x':x.mean(), 'mean_y':y.mean(),
                                    'stat':res.statistic, 'p_val': res.pvalue}, ignore_index=True)
#     fdr = getfdr(res_df.p_val)
    return res_df
#     plotVocano(stat, fdr[1])

In [183]:
#Significance test for before green_blue and orange
green_blue_df = before_1_points[before_1_points['new_class_list'] == 'green_blue']
orange_df = before_1_points[before_1_points['new_class_list'] == 'orange']
# ava_p_val(green_blue_df, orange_df)
before_1_p = val_p_val(green_blue_df, orange_df, 'green,blue', 'orange', 'before_1')

In [136]:
from statsmodels.stats.multitest import fdrcorrection
import numpy as np
import math
def getfdr(p_vals):
    fdr = fdrcorrection(np.array(p_vals))
    print(fdr)
    return fdr
    
def plotVocano(fdr, stat):
    print(fdr[1])
    logp = list(map(lambda x: -math.log(x,10), fdr[1]))
    volcona_df = pd.DataFrame(data={'stat': stat, 'p':p_vals,'fdr': fdr[1],'variable': var_val, 'fdr0': fdr[0]})
    plt.ylim([25, 50])
    figure(figsize=(8, 6), dpi=80)
    plt.scatter(stat, logp)

In [184]:
# Significant test for before green and blue
green_before_df = before_2_points[before_2_points['new_class_list'] == 'green']
blue_before_df = before_2_points[before_2_points['new_class_list'] == 'blue']

# ava_p_val(green_before_df, blue_before_df)
before_2_p = val_p_val(green_before_df, blue_before_df, 'green', 'blue',  'before_2')

In [185]:
# Significant test for green and blue
# ava_p_val(after_green_points, after_blue_points)
after_green_after_blue_p = val_p_val(after_green_points, after_blue_points,'green', 'blue',  'after_green_after_blue')

In [186]:
# ava_p_val(after_orange_points, after_green_blue_points)
after_orange_after_green_blue_p = val_p_val(after_orange_points, after_green_blue_points, 
                                            'orange', 'green,blue',
                                            'after_orange_after_green_blue')

In [189]:
look_up_p.to_csv('look_up_p.csv')

In [187]:
look_up_p = pd.concat([before_1_p, before_2_p, after_green_after_blue_p, after_orange_after_green_blue_p], axis=0)
look_up_p

,group,var_name,len_x,len_y,mean_x,mean_y,stat,p_val,color_1,color_2
0,before_1,EGFR_val,955,20328,-0.097012,0.344290,-14.402972,8.230292e-47,"green,blue",orange
1,before_1,HEMOGLOBIN_val,2,205,0.323240,0.202341,0.252352,8.010219e-01,"green,blue",orange
0,before_2,ALK_val,860,54,-0.178560,-0.458324,2.803707,5.159110e-03,green,blue
1,before_2,ALT_SGPT_val,733,45,-0.062304,0.145284,-1.939224,5.283619e-02,green,blue
2,before_2,AST_SGOT_val,865,54,-0.058290,-0.015120,-0.408415,6.830642e-01,green,blue
3,before_2,BP_DIASTOLIC_val,170,13,-0.021215,-0.045301,0.094912,9.244899e-01,green,blue
4,before_2,BP_SYSTOLIC_val,170,13,-0.286180,-0.041477,-1.154487,2.498225e-01,green,blue
5,before_2,CHOLESTEROL_val,671,51,1.136698,0.986699,1.441308,1.499324e-01,green,blue
6,before_2,CREATINE_KINASE_val,231,20,-0.157180,-0.243014,0.624798,5.326756e-01,green,blue
7,before_2,EGFR_val,12224,11760,-0.091220,0.002940,-8.211049,2.302045e-16,green,blue
8,before_2,HBA1C_val,580,51,0.195750,-0.079196,2.061623,3.965393e-02,green,blue
9,before_2,HDL_val,589,47,-0.471187,-0.352130,-1.129986,2.589094e-01,green,blue
10,before_2,HEMOGLOBIN_val,1467,74,-0.705708,-0.485800,-1.909778,5.634759e-02,green,blue
11,before_2,HT_val,88,12,-0.491914,-0.104245,-1.527778,1.297889e-01,green,blue
12,before_2,INR_val,278,16,-0.157957,-0.335128,1.318780,1.882761e-01,green,blue
13,before_2,LDL_val,579,46,1.601641,1.539942,0.564201,5.728202e-01,green,blue
14,before_2,TBIL_val,854,52,-0.081661,-0.063440,-0.180565,8.567496e-01,green,blue
15,before_2,TRIGLYCERIDES_val,585,46,-0.055408,-0.172710,1.242396,2.145533e-01,green,blue
16,before_2,TROPONIN_val,55,4,-0.189012,-0.133147,-0.646584,5.204966e-01,green,blue
17,before_2,WT_val,175,19,-0.374883,-0.076577,-1.571536,1.177047e-01,green,blue
0,after_green_after_blue,ALK_val,4684,2180,0.301025,-0.239460,19.234495,2.409335e-80,green,blue
1,after_green_after_blue,ALT_SGPT_val,3942,2070,0.511254,-0.272980,25.133939,1.225704e-132,green,blue
2,after_green_after_blue,AST_SGOT_val,4684,2178,0.319988,-0.238611,20.070848,4.049480e-87,green,blue
3,after_green_after_blue,BP_DIASTOLIC_val,1159,1300,-0.230964,-0.003644,-5.936736,3.318579e-09,green,blue
4,after_green_after_blue,BP_SYSTOLIC_val,1159,1299,-0.365713,-0.225610,-4.151262,3.419173e-05,green,blue
5,after_green_after_blue,CHOLESTEROL_val,3003,178,0.174362,0.658796,-7.364017,2.261961e-13,green,blue
6,after_green_after_blue,CREATINE_KINASE_val,924,38,-0.026863,-0.163837,0.975500,3.295579e-01,green,blue
7,after_green_after_blue,EGFR_val,25426,64499,-0.144605,-0.529348,63.928896,0.000000e+00,green,blue
8,after_green_after_blue,HBA1C_val,1916,1510,-0.186402,-0.420369,9.412448,8.623372e-21,green,blue
9,after_green_after_blue,HDL_val,2341,72,-0.490937,0.397735,-12.568521,3.875936e-35,green,blue
10,after_green_after_blue,HEMOGLOBIN_val,3881,2352,-0.107063,-0.054536,-2.042735,4.112066e-02,green,blue
11,after_green_after_blue,HT_val,606,890,0.010868,-0.480135,10.036431,5.531559e-23,green,blue
12,after_green_after_blue,INR_val,1206,561,0.148482,0.472762,-5.788090,8.407022e-09,green,blue
13,after_green_after_blue,LDL_val,2241,66,-0.113094,-0.052674,-0.597484,5.502430e-01,green,blue
14,after_green_after_blue,TBIL_val,4684,2192,-0.068763,0.077786,-6.740433,1.707269e-11,green,blue
15,after_green_after_blue,TRIGLYCERIDES_val,2350,66,0.382144,-0.168151,4.275539,1.980866e-05,green,blue
16,after_green_after_blue,TROPONIN_val,592,31,-0.179374,-0.218785,0.903482,3.666205e-01,green,blue
17,after_green_after_blue,WT_val,977,1249,-0.101987,0.242615,-7.184832,9.141235e-13,green,blue
0,after_orange_after_green_blue,ALK_val,2612,1140,-0.223371,-0.242733,0.806054,4.202626e-01,orange,"green,blue"
1,after_orange_after_green_blue,ALT_SGPT_val,2368,1001,-0.369889,-0.100890,-13.330381,1.523142e-39,orange,"green,blue"
2,after_orange_after_green_blue,AST_SGOT_val,2613,1145,-0.319541,-0.071965,-10.852171,4.885164e-27,orange,"green,blue"
3,after_orange_after_green_blue,BP_DIASTOLIC_val,6911,597,-0.235093,0.354143,-14.692324,3.357572e-48,orange,"green,blue"
4,after_orange_after_green_blue,BP_SYSTOLIC_val,6911,597,-0.564229,-0.319907,-7.954358,2.064518e-15,orange,"green,blue"
5,after_orange_after_green_blue,CHOLESTEROL_val,638,743,-0.244037,1.102735,-32.580247,3.790989e-173,orange,"green,blue"
6,after_orange_after_green_blue,CREATINE_KINASE_val,602,259,0.463397,-0.155991,6.008570,2.762710e-09,orange,"green,blue"
7,after_orange_after_green_blue,EGFR_val,103198,40610,0.524966,-0.092337,118.797433,0.000000e+00,orange,"green,blue"
8,after_orange_after_green_blue,HBA1C_val,427,899,-0.243197,0.080227,-6.638819,4.601055e-11,orange,"green,blue"
9,after_orange_after_green_blue,HDL_val,474,653,0.479993,-0.447790,21.677804,2.356493e-87,orange,"green,blue"
10,after_orange_after_green_blue,HEMOGLOBIN_val,3581,2018,0.135768,-0.573371,26.517815,4.616785e-146,orange,"green,blue"
11,after_orange_after_green_blue,HT_val,6028,389,-0.014991,-0.556134,10.559929,7.442260e-26,orange,"green,blue"
12,after_orange_after_green_blue,INR_val,905,387,-0.512441,-0.183016,-14.252075,6.555240e-43,orange,"green,blue"
13,after_orange_after_green_blue,LDL_val,471,641,-0.311126,1.567789,-42.949418,3.194764e-238,orange,"green,blue"
14,after_orange_after_green_blue,TBIL_val,2717,1133,-0.293968,-0.000374,-12.082616,5.131440e-33,orange,"green,blue"
15,after_orange_after_green_blue,TRIGLYCERIDES_val,476,647,-0.563645,-0.059156,-14.401843,2.844066e-43,orange,"green,blue"
16,after_orange_after_green_blue,TROPONIN_val,498,63,0.363901,-0.190064,2.411201,1.622155e-02,orange,"green,blue"
17,after_orange_after_green_blue,WT_val,6582,607,0.321923,-0.322023,15.542598,1.322385e-53,orange,"green,blue"

In [27]:
for i in range(len(var_ava)):
    var = var_ava[i]
    x1 = features_all_csn[features_all_csn[var]==0]
    x1 = len(x1)   
    y1 = features_all_csn[features_all_csn[var]==1]
    y1 = len(y1)

    print(var, x1, y1, y1/(x1+y1))

ALK_avail 478465 30267 0.05949497967495656
ALT_SGPT_avail 481601 27131 0.05333063381112255
AST_SGOT_avail 478433 30299 0.05955788116336303
BP_DIASTOLIC_avail 481493 27239 0.05354292633449439
BP_SYSTOLIC_avail 481492 27240 0.053544892006007094
CHOLESTEROL_avail 496676 12056 0.023698135757137355
CREATINE_KINASE_avail 502732 6000 0.011794029076213016
EGFR_avail 61135 447597 0.8798286720709528
HBA1C_avail 495300 13432 0.02640289975861554
HDL_avail 498964 9768 0.01920067933607479
HEMOGLOBIN_avail 472196 36536 0.07181777438808645
HT_avail 488146 20586 0.04046531376048686
INR_avail 494927 13805 0.027136095232853447
LDL_avail 499272 9460 0.018595252510162523
TBIL_avail 478198 30534 0.060019813968848035
TRIGLYCERIDES_avail 498965 9767 0.01919871366456209
TROPONIN_avail 504199 4533 0.008910388967078934
WT_avail 483172 25560 0.050242563864667446

In [28]:
var_other = ['age', 'interval', 'sex', 'race_1', 'race_2']
p_vals = []
stat = []
for i in range(len(var_other)):
    var = var_other[i]
    x = np.array(after_green_points[var])
    y = np.array(after_blue_points[var])
    if len(x)==0 or len(y)==0:
        p_vals.append('NA')
        stat.append('NA')
        print(var, 'NA')
    else:
        res = stats.ttest_ind(a=x, b=y)
        p_vals.append(res.pvalue)
        stat.append(res.statistic)
        print(len(x), len(y), var, res)

30339 68577 age Ttest_indResult(statistic=-116.31412121941662, pvalue=0.0)
30339 68577 interval Ttest_indResult(statistic=28.610082362820272, pvalue=2.7231432231807237e-179)
30339 68577 sex Ttest_indResult(statistic=82.57869081060792, pvalue=0.0)
30339 68577 race_1 Ttest_indResult(statistic=26.674178112027395, pvalue=3.365222127090883e-156)
30339 68577 race_2 Ttest_indResult(statistic=-24.42781544651475, pvalue=2.1291808915098101e-131)

In [11]:
def get_pat_age_concept_list(pat_id):
    df = get_pat_records(pat_id)
    df = df.sort_values(by=['age'])
    print(len(ckd_data_df))
    concepts = df['concept.cd'].unique()
    ages = toIntergers(df['age'].unique())
    return list(range_list(ages[0], ages[-1]+1)), list(concepts)

In [31]:
def get_pat_unique_concept(id):
    df = get_pat_records(id)
    df = df.sort_values(by=['age'])
    concepts = (df['concept.cd'].unique())
    res_list = []
    for i in concepts:
        ages = list(df[df['concept.cd']==i]['age'])
        vals = list(df[df['concept.cd']==i]['nval.num'])
        age_val = list(map(lambda x,y: [x, y], ages, vals))
        res_list.append([i, age_val])
    return res_list

In [44]:
def getLabTestViewData(pat_id):
    ages, pat_concepts = get_pat_age_concept_list(pat_id)
    concepts = getOrderofConcepts(pat_id)
    concept_age_val = get_pat_unique_concept(pat_id)
    res = []
    for concept_pair in concept_age_val:
        concept_ind = concepts.index(concept_pair[0])
        age_num_val_dict = { }
        for age_val_pair in concept_pair[1]:
            age = int(age_val_pair[0])
            val = age_val_pair[1]
            if age not in age_num_val_dict.keys():
                age_num_val_dict[age] = [1, val]
            else:
                pre = age_num_val_dict.get(age)
                val_max = val if val>pre[1] else pre[1]
                age_num_val_dict[age] = [pre[0]+1, val_max]
        for key in age_num_val_dict:
            age_ind = ages.index(key)
    #         print(age_ind, concept_ind, age_num_val_dict[key][0], age_num_val_dict[key][1])
            res.append([age_ind, concept_ind, age_num_val_dict[key][0], age_num_val_dict[key][1]])
    return res

In [12]:
def get_pat_records(id):
    return ckd_data_df[ckd_data_df['pat.id']==id]


def get_df_all_concept():
    return list(ckd_data_df['concept.cd'].unique())

In [13]:
def getOrderofConcepts(pat_id):
# setting distance_threshold=0 ensures we compute the full tree.
    matrix = getHierarchicalClusterInput(pat_id)
    res = None
    ages, concepts = get_pat_age_concept_list(pat_id)
    concepts_all = get_df_all_concept()
    if len(matrix)==1:
        res = [concepts[0]]
    else:
        model = AgglomerativeClustering(linkage="ward", distance_threshold=2, n_clusters=None)
        labels = model.fit_predict(matrix)
        concepts = np.array(concepts)
        key_tuples = []
        for i in range(len(concepts)):
            key_tuples.append(new_key(concepts[i], labels[i]))
        newlist = sorted(key_tuples, key=lambda x: x.label, reverse=True)
        res = [i.name for i in newlist]
        # res = list(concepts[labels])
    for i in concepts_all:
        if i not in res:
            res.append(i)
    return res

In [14]:
def range_list(a, b): 
    return list(range(a, b+1))
def toIntergers(data):
    return np.trunc(data).astype(int)

In [15]:
def getHierarchicalClusterVec(pat_id):
    ages, concepts = get_pat_age_concept_list(pat_id)
    concept_age_val = get_pat_unique_concept(pat_id)
    concept_vec_dict = {}
    for concept_pair in concept_age_val:
        concept_ind = concept_pair[0]
        age_num_val_dict = {}
        for age_val_pair in concept_pair[1]:
            age = int(age_val_pair[0])
            val = age_val_pair[1]
            if age not in age_num_val_dict.keys():
                age_num_val_dict[age] = [1, val]
            else:
                pre = age_num_val_dict.get(age)
                val_max = val if val>pre[1] else pre[1]
                age_num_val_dict[age] = [pre[0]+1, val_max]
        res = []
        for age_uni in ages:
            age_ind = list(ages).index(age_uni)
            if age_uni in age_num_val_dict.keys():
                # res.append(age_num_val_dict[age_uni][0])
                res.append(1)
            else: res.append(0)
        concept_vec_dict[concept_ind]=res
    return concept_vec_dict


def getHierarchicalClusterInput(pat_id):
    matrix = []
    vect_dict = getHierarchicalClusterVec(pat_id)
    for key in vect_dict:
        matrix.append(vect_dict[key])
    return matrix

In [57]:
from sklearn.cluster import AgglomerativeClustering

In [61]:
ages, pat_concepts = get_pat_age_concept_list(47413)
pat_concepts
#     concepts = getOrderofConcepts(pat_id)
#     concept_age_val = get_pat_unique_concept(pat_id)
#     res = []
#     for concept_pair in concept_age_val:
#         concept_ind = concepts.index(concept_pair[0])
#         age_num_val_dict = { }
#         for age_val_pair in concept_pair[1]:
#             age = int(age_val_pair[0])
#             val = age_val_pair[1]
#             if age not in age_num_val_dict.keys():
#                 age_num_val_dict[age] = [1, val]
#             else:
#                 pre = age_num_val_dict.get(age)
#                 val_max = val if val>pre[1] else pre[1]
#                 age_num_val_dict[age] = [pre[0]+1, val_max]
#         for key in age_num_val_dict:
#             age_ind = ages.index(key)
#     #         print(age_ind, concept_ind, age_num_val_dict[key][0], age_num_val_dict[key][1])
#             res.append([age_ind, concept_ind, age_num_val_dict[key][0], age_num_val_dict[key][1]])

['ALK',
 'HEMOGLOBIN',
 'TBIL',
 'AST_SGOT',
 'EGFR',
 'CHOLESTEROL',
 'HBA1C',
 'TRIGLYCERIDES',
 'LDL',
 'HDL',
 'ALT_SGPT',
 'BP_DIASTOLIC',
 'BP_SYSTOLIC',
 'WT',
 'HT']

In [54]:
class new_key:
      def __init__(self, name, label):
        self.label = label
        self.name = name

In [22]:
look_up_p = pd.read_csv('look_up_p.csv')

In [29]:
pat_df = features_all_csn[features_all_csn['pat_id']==39463].sort_values('age')
ages, pat_concepts = get_pat_age_concept_list(39463)
concepts = ['EGFR', 'CHOLESTEROL', 'HDL', 'LDL', 'TRIGLYCERIDES', 'BP_DIASTOLIC', 'BP_SYSTOLIC', 'WT', 'HT', 'TBIL', 'CREATINE_KINASE', 'HEMOGLOBIN', 'INR', 'ALT_SGPT', 'AST_SGOT', 'ALK', 'HBA1C', 'TROPONIN']

res = []
my_set = set()
for age in ages:
    one_age_visit = pat_df[(pat_df['age']>age) & (pat_df['age']<age+1)]
    if len(one_age_visit) > 0:
        for index, row in one_age_visit.iterrows():
            label = row['cluster_label']
            group = label_category(label)
            mark = None
            if group is not None:
                if group == 'before_1' or group == 'before_2':
                    mark ='predict'
                else:
                    mark ='marker'
                table_look_up = look_up_p[look_up_p['group']==group]
                for var in table_look_up.var_name:
#                     var_val = row[var]
                    var_val = one_age_visit[var].mean()
                    ind_df = table_look_up[table_look_up['var_name']==var]
                    mean_x = list(ind_df.mean_x)[0]
                    mean_y = list(ind_df.mean_y)[0]
                    color_x = list(ind_df.color_1)[0]
                    color_y = list(ind_df.color_2)[0]
                    concept_1 = var[:-4]
                    if row[concept_1+'_avail']==1 and list(ind_df.p_val)[0]<0.05:
                        color_1 = None
                        if (ages.index(int(row.age)), concepts.index(concept_1)) in my_set:
                            continue
                        else: 
                            my_set.add((ages.index(int(row.age)), concepts.index(concept_1)))
                        if var_val>((mean_x+mean_y)/2):
                            color_1 = color_x if list(ind_df.stat)[0]>0 else color_y
                            res.append([ages.index(int(row.age)), concepts.index(concept_1), color_1, mark])
                        else:
                            color_1 = color_x if list(ind_df.stat)[0]<0 else color_y
                            res.append([ages.index(int(row.age)), concepts.index(concept_1), color_1, mark])
print(res)

2426533
[[3, 14, 'green,blue', 'marker'], [3, 1, 'orange', 'marker'], [3, 10, 'orange', 'marker'], [3, 11, 'green,blue', 'marker'], [3, 12, 'green,blue', 'marker'], [3, 9, 'orange', 'marker'], [3, 17, 'orange', 'marker'], [4, 0, 'green,blue', 'marker'], [7, 0, 'green,blue', 'marker'], [10, 0, 'green,blue', 'marker'], [10, 5, 'orange', 'marker'], [10, 6, 'green,blue', 'marker'], [10, 10, 'orange', 'marker'], [10, 11, 'orange', 'marker'], [10, 17, 'green,blue', 'marker'], [10, 7, 'green,blue', 'marker']]

In [28]:
one_age_visit

Empty DataFrame
Columns: [Unnamed: 0, cluster_label, pat_id, Unnamed: 0.1, ALK_val, ALK_avail, ALT_SGPT_val, ALT_SGPT_avail, AST_SGOT_val, AST_SGOT_avail, BP_DIASTOLIC_val, BP_DIASTOLIC_avail, BP_SYSTOLIC_val, BP_SYSTOLIC_avail, CHOLESTEROL_val, CHOLESTEROL_avail, CREATINE_KINASE_val, CREATINE_KINASE_avail, EGFR_val, EGFR_avail, HBA1C_val, HBA1C_avail, HDL_val, HDL_avail, HEMOGLOBIN_val, HEMOGLOBIN_avail, HT_val, HT_avail, INR_val, INR_avail, LDL_val, LDL_avail, TBIL_val, TBIL_avail, TRIGLYCERIDES_val, TRIGLYCERIDES_avail, TROPONIN_val, TROPONIN_avail, WT_val, WT_avail, age, interval, sex, race_1, race_2, csn, egfr_new]
Index: []

[0 rows x 47 columns]

In [210]:
normal_range_dict = {
    'EGFR':[60, 200],
    'TBIL': [0.1, 1.2],
    'BP_DIASTOLIC': [60, 80],
    'BP_SYSTOLIC': [90, 120],
    'WT': [90, 220],
    'HT': [57, 78],
    'CHOLESTEROL': [50, 200],
    'CREATINE_KINASE': [22, 198],
    'HEMOGLOBIN': [11.6, 17.2],
    'INR': [0.8, 1.1],
    'ALT_SGPT': [7, 56],
    'AST_SGOT': [8, 45],
    'ALK': [44, 147],
    'HDL': [40, 100],
    'LDL': [40, 100],
    'TRIGLYCERIDES': [20, 150],
    'HBA1C': [4, 6.5],
    'TROPONIN': [0, 0.04]
}

In [233]:
def getLabTestNormalData(pat_id):
    ages, pat_concept = get_pat_age_concept_list(pat_id)
    # concepts = get_df_all_concept()
    concepts = ['EGFR', 'CHOLESTEROL', 'HDL', 'LDL', 'TRIGLYCERIDES', 'BP_DIASTOLIC', 'BP_SYSTOLIC', 'WT', 'HT', 'TBIL', 'CREATINE_KINASE', 'HEMOGLOBIN', 'INR', 'ALT_SGPT', 'AST_SGOT', 'ALK', 'HBA1C', 'TROPONIN']
    concept_age_val = get_pat_unique_concept(pat_id)
    print(concept_age_val)
    res = []
    for concept_pair in concept_age_val:
        concept_ind = list(concepts).index(concept_pair[0])
        concept_val = concept_pair[0]
        age_num_val_dict = { }
        for age_val_pair in concept_pair[1]:
            age = int(age_val_pair[0])
            val = age_val_pair[1]
            if age not in age_num_val_dict.keys():
                age_num_val_dict[age] = [0, 0, -9999, 0, 9999]
            low = normal_range_dict[concept_val][0]
            high = normal_range_dict[concept_val][1]
            pre = age_num_val_dict.get(age)
            if val > high:
                val_max = val if val>pre[2] else pre[2]
                age_num_val_dict[age] = [pre[0], pre[1]+1, val_max, pre[3], pre[4]]
            elif val < low:
                val_min = val if val<pre[4] else pre[4]
                age_num_val_dict[age] = [pre[0], pre[1], pre[2], pre[3]+1, val_min]
            else:
                age_num_val_dict[age] = [pre[0]+1, pre[1], pre[2], pre[3], pre[4]]
        for key in age_num_val_dict:
            age_ind = list(ages).index(key)
            values = age_num_val_dict[key]
    #         print(age_ind, concept_ind, age_num_val_dict[key][0], age_num_val_dict[key][1])
            res.append([age_ind, concept_ind, values[0], values[1], values[2], values[3], values[4], concept_val])
    return res

In [18]:
after_orange_after_green_blue = [49, 85, 72, 34, 25, 10, 33, 89, 30, 32, 13, 78, 18, 1, 64, 97, 69, 33, 60, 28, 0, 99]
after_green_after_blue = [60, 28, 3, 20, 74, 62, 91, 66, 94, 75, 44, 61, 54, 0, 99, 58, 29, 47, 82, 67, 14]
before_1 = [26, 22, 83, 88, 46, 51, 24, 65, 4, 16]
before_2 = [89, 30, 32, 13, 78, 18, 1, 64, 97, 69, 33]

In [17]:
def label_category(label):
    if label in before_1:
        return 'before_1',
    if label in before_2:
        return 'before_2'
    if label in after_green_after_blue:
        return 'after_green_after_blue',
    if label in after_orange_after_green_blue:
        return 'after_orange_after_green_blue'
    return None

In [242]:
features_all_csn

,Unnamed: 0,cluster_label,pat_id,Unnamed: 0.1,ALK_val,ALK_avail,ALT_SGPT_val,ALT_SGPT_avail,AST_SGOT_val,AST_SGOT_avail,...,TROPONIN_avail,WT_val,WT_avail,age,interval,sex,race_1,race_2,csn,egfr_new
0,0,78,34154,1,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,61.082877,0.000000,1.0,1,0,18671080,101.795554
1,1,26,63213,2,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,39.344521,0.000000,0.0,1,0,14193917,92.645488
2,2,39,64588,3,-0.812508,1,-1.009228,1,-0.548554,1,...,1,-0.671148,1,71.218493,0.002740,1.0,0,1,42061480,0.000000
3,3,66,66790,4,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,69.260959,2.023288,1.0,1,0,31561343,17.379702
4,4,1,27645,5,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,71.950000,0.000000,0.0,1,0,16019784,91.094218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508727,508727,25,66479,508728,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,65.951370,0.235616,1.0,0,1,19858874,65.920879
508728,508728,38,51842,508729,0.382507,1,2.372679,1,1.197019,1,...,0,0.000000,0,55.991096,0.290411,1.0,0,1,30031330102,0.000000
508729,508729,14,49044,508730,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,68.515068,0.000000,0.0,1,0,27271211,87.196013
508730,508730,0,11397,508731,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,64.243836,0.326712,0.0,1,0,42926350,94.141032
508731,508731,25,39391,508732,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,43.081507,0.000000,0.0,1,0,14043095,78.261258

In [244]:
features_all_csn[features_all_csn['pat_id']==51475]

,Unnamed: 0,cluster_label,pat_id,Unnamed: 0.1,ALK_val,ALK_avail,ALT_SGPT_val,ALT_SGPT_avail,AST_SGOT_val,AST_SGOT_avail,...,TROPONIN_avail,WT_val,WT_avail,age,interval,sex,race_1,race_2,csn,egfr_new
1642,1642,2,51475,1643,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,56.235616,1.189726,0.0,0,1,30039286705,0.000000
5651,5651,37,51475,5652,-0.384073,1,-0.282157,1,-0.255522,1,...,0,0.000000,0,50.286301,10.697945,0.0,0,1,30012660795,0.000000
26329,26329,39,51475,26330,0.000000,0,0.000000,0,0.000000,0,...,0,0.215902,1,55.045890,1.626027,0.0,0,1,30030026672,0.000000
30836,30836,38,51475,30837,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,53.419863,0.959589,0.0,0,1,30012660442,0.000000
45950,45950,81,51475,45951,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,52.460274,1.741096,0.0,0,1,20136400,15.373865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473547,473547,29,51475,473548,0.000000,0,0.000000,0,0.000000,0,...,0,0.362653,1,55.182877,0.326712,0.0,0,1,30030887499,0.000000
479673,479673,25,51475,479674,0.000000,0,0.000000,0,0.000000,0,...,0,0.000000,0,49.156849,3.835616,0.0,0,1,15401041,61.387281
492467,492467,73,51475,492468,-0.897522,1,0.489402,1,0.389610,1,...,0,-0.735427,1,50.439726,1.282877,0.0,0,1,30012660808,0.000000
492833,492833,2,51475,492834,-0.305270,1,0.070896,1,0.086832,1,...,0,0.000000,0,45.321233,0.000000,0.0,0,1,30012660551,0.000000
502419,502419,3,51475,502420,-0.381690,1,0.070896,1,-0.064557,1,...,0,0.000000,0,55.651370,0.435616,0.0,0,1,30034890180,0.000000

In [254]:
col_name = ['pat_id', 'traj']
res_df = pd.DataFrame(columns=col_name)
counter = 0
for pat_id in features_all_csn.pat_id:
    counter = counter+1
    if counter % 1000 == 0:
        print(counter)
    individual_df = features_all_csn[features_all_csn['pat_id']==pat_id]
    orange_num = 0
    blue_num = 0
    green_num = 0
    traj = None
    for label in individual_df.cluster_label:
        if label in orangeline:
            orange_num = orange_num+1
        if label in blueline:
            blue_num = blue_num+1
        if label in greenline:
            green_num = green_num+1
    if orange_num > blue_num and orange_num > green_num:
        traj = 'orange'
    elif blue_num > orange_num and blue_num > green_num:
        traj = 'blue'
    else:
        traj = 'green'
    res_df = res_df.append({'pat_id': pat_id, 'traj':traj}, ignore_index=True)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000
261000
262000
263000
264000
265000
266000
267000
268000
269000
270000
271000
272000
273000
274000
275000
276000
277000
278000
279000
280000
281000
282000
283000
284000
285000
286000
287000
288000
289000
290000
291000
292000
293000
294000
295000
296000
297000
298000
299000
300000
301000
302000
303000
304000
305000
306000
307000
308000
309000
310000
311000
312000
313000
314000
315000
316000
317000
318000
319000
320000
321000
322000
323000
324000
325000
326000
327000
328000
329000
330000
331000
332000
333000
334000
335000
336000
337000
338000
339000
340000
341000
342000
343000
344000
345000
346000
347000
348000
349000
350000
351000
352000
353000
354000
355000
356000
357000
358000
359000
360000
361000
362000
363000
364000
365000
366000
367000
368000
369000
370000
371000
372000
373000
374000
375000
376000
377000
378000
379000
380000
381000
382000
383000
384000
385000
386000
387000
388000
389000
390000
391000
392000
393000
394000
395000
396000
397000
398000
399000
400000
401000
402000
403000
404000
405000
406000
407000
408000
409000
410000
411000
412000
413000
414000
415000
416000
417000
418000
419000
420000
421000
422000
423000
424000
425000
426000
427000
428000
429000
430000
431000
432000
433000
434000
435000
436000
437000
438000
439000
440000
441000
442000
443000
444000
445000
446000
447000
448000
449000
450000
451000
452000
453000
454000
455000
456000
457000
458000
459000
460000
461000
462000
463000
464000
465000
466000
467000
468000
469000
470000
471000
472000
473000
474000
475000
476000
477000
478000
479000
480000
481000
482000
483000
484000
485000
486000
487000
488000
489000
490000
491000
492000
493000
494000
495000
496000
497000
498000
499000
500000
501000
502000
503000
504000
505000
506000
507000
508000

In [298]:
res_df.to_csv('pat_traj.csv')

In [257]:
orange_pat = res_df[res_df['traj']=='orange'].pat_id

In [258]:
orange_pat

0         34154
1         63213
2         64588
6         57993
7         45183
          ...
508725    53721
508727    66479
508728    51842
508730    11397
508731    39391
Name: pat_id, Length: 334073, dtype: object

In [265]:
orange_records = ckd_data_df[ckd_data_df['pat.id'].isin(orange_pat)]
target = orange_records[orange_records['concept.cd']=='EGFR']

In [281]:
# import matplotlib.pyplot as plt
# plt.hist(list(zip(list(target.age), list(target['nval.num']))))

In [279]:
list(zip(list(target.age), list(target['nval.num'])))

[(36.5479452054795, 94.9720831909244),
 (49.8856164383562, 20.9285246473456),
 (44.7287671232877, 121.50495054998),
 (49.9020547945205, 13.1627849916579),
 (49.9239726027397, 14.1992915317224),
 (49.8582191780822, 30.0133335455998),
 (49.9431506849315, 15.7506942860669),
 (49.5376712328767, 18.020356507493),
 (44.7260273972603, 121.507288998484),
 (49.5404109589041, 16.2206648225375),
 (41.2856164383562, 105.921935078387),
 (44.5972602739726, 79.0166654256253),
 (36.6904109589041, 109.39682966981),
 (49.4006849315069, 16.2365935703657),
 (49.1595890410959, 24.1044590241437),
 (49.5267123287671, 21.981944394844),
 (49.8417808219178, 19.4696958673805),
 (40.1780821917808, 65.3838343800203),
 (50.341095890411, 9.13786842694648),
 (49.3842465753425, 15.2109529903143),
 (49.3732876712329, 29.4550120154553),
 (40.9890410958904, 92.0549792166793),
 (49.6993150684931, 15.3234623063899),
 (40.8191780821918, 106.269562776968),
 (43.2157534246575, 79.7872197900624),
 (49.5239726027397, 29.4238502739087),
 (41.1102739726027, 53.9122964797549),
 (49.5431506849315, 25.2069642252082),
 (49.3760273972603, 18.7246428727358),
 (49.4445205479452, 16.7939418824109),
 (49.7842465753425, 17.7290315746332),
 (49.877397260274, 22.9135047144284),
 (49.7102739726027, 11.7975799053328),
 (49.9513698630137, 17.1480226744874),
 (49.1869863013699, 24.0998204419449),
 (49.8609589041096, 18.3144330156653),
 (40.5369863013699, 92.3477654299407),
 (49.5294520547945, 8.57448482528018),
 (44.5479452054795, 127.988547239588),
 (40.5397260273973, 106.478379397563),
 (49.1650684931507, 25.2739999230654),
 (49.8993150684932, 17.9746355367975),
 (47.1965753424658, 119.416765388429),
 (49.8691780821918, 24.9081878927114),
 (49.8965753424658, 15.0128963761001),
 (41.3897260273973, 80.8172536459065),
 (50.3328767123288, 5.42966940831821),
 (44.8246575342466, 89.6077910795208),
 (43.6979452054794, 57.9034941803429),
 (44.827397260274, 121.42079636993),
 (36.4821917808219, 154.778895483923),
 (40.841095890411, 106.253202332176),
 (49.6938356164384, 18.8250407578315),
 (44.841095890411, 103.309205584081),
 (38.2616438356164, 127.152106409205),
 (44.8520547945205, 127.715423186962),
 (49.1787671232877, 26.5501065288398),
 (49.1513698630137, 16.8285607871475),
 (49.8116438356164, 19.1733414066819),
 (49.3815068493151, 29.453311433447),
 (36.5013698630137, 135.43135117839),
 (41.3897260273973, 72.0211964313204),
 (40.8383561643836, 124.871304901272),
 (41.1842465753425, 72.1252278987508),
 (44.3534246575342, 136.086540334795),
 (49.3787671232877, 22.0048011836101),
 (41.1157534246575, 106.048398924224),
 (49.7541095890411, 16.9919581148214),
 (44.7315068493151, 121.50261214648),
 (36.4821917808219, 170.143979972829),
 (38.9657534246575, 107.662195480156),
 (36.4958904109589, 109.54641516866),
 (36.5342465753425, 143.770420394748),
 (41.7020547945205, 91.5950610960265),
 (49.8527397260274, 16.405236239616),
 (49.9184931506849, 18.307032624553),
 (43.6294520547945, 70.8969388965453),
 (36.7287671232877, 135.215188784131),
 (55.6513698630137, 73.1131266404755),
 (46.5575342465753, 77.9360497295179),
 (50.4150684931507, 86.1570493323914),
 (51.3719178082192, 98.6768113399234),
 (50.4232876712329, 75.848140188496),
 (53.0527397260274, 84.5753760618302),
 (50.4178082191781, 86.1553912110988),
 (50.4041095890411, 122.830270210662),
 (50.286301369863, 75.9211621628798),
 (49.836301369863, 86.5080438471319),
 (50.3876712328767, 122.844454624414),
 (50.3876712328767, 130.438617318552),
 (45.7650684931507, 89.0177907073882),
 (52.9643835616438, 74.5062463688466),
 (45.3212328767123, 78.6158360979698),
 (50.3931506849315, 130.433596697042),
 (52.4575342465753, 15.3738652802786),
 (53.4198630136986, 97.2674062953149),
 (50.3931506849315, 130.433596697042),
 (52.4684931506849, 20.6379398861029),
 (52.6246575342466, 97.8122635951892),
 (50.3849315068493, 99.3633344319819),
 (50.4287671232877, 86.1487590450331),
 (50.3794520547945, 86.1786078133853),
 (50.3904109589041, 130.436106983641),
 (50.3958904109589, 122.837362212798),
 (53.8801369863014, 70.6001527687525),
 (52.4575342465753, 15.3738652802786),
 (52.4657534246575, 16.441279606517),
 (53.5431506849315, 45.4498733420444),
 (49.1568493150685, 61.387281102399),
 (50.3986301369863, 122.834998166589),
 (52.4630136986301, 14.4253091432014),
 (54.1438356164384, 80.6674974872068),
 (50.4479452054794, 99.3193612862103),
 (69.9294520547945, 69.9899910975326),
 (69.2801369863014, 85.5186390971066),
 (67.2184931506849, 84.5153321578281),
 (66.2808219178082, 56.7458984379547),
 (64.4465753424657, 94.1092500757226),
 (67.1883561643836, 57.999550700691),
 (67.0568493150685, 88.849834224562),
 (65.3047945205479, 89.1231263091059),
 (67.191095890411, 21.6439118517601),
 (64.4547945205479, 99.4127135154493),
 (65.8883561643836, 69.6378811502789),
 (64.441095890411, 94.1128725084174),
 (67.508904109589, 74.546148670604),
 (65.5404109589041, 78.3340893848647),
 (64.4438356164383, 94.1110612746411),
 (64.4246575342466, 78.9504638027942),
 (67.3719178082192, 89.0708079135922),
 (67.1938356164383, 52.455713179135),
 (64.4821917808219, 94.0857076615366),
 (64.427397260274, 78.9489443746556),
 (64.4383561643836, 89.6672190346424),
 (65.3075342465753, 69.922587622932),
 (67.2075342465753, 90.0301801863085),
 (64.6493150684932, 89.5344391361429),
 (67.1965753424657, 90.0371111637543),
 (64.4794520547945, 89.6413373862518),
 (60.7095890410959, 39.9033320928715),
 (60.6986301369863, 38.0844612935493),
 (60.6986301369863, 38.3038279479553),
 (60.7068493150685, 31.6329493639495),
 (60.6931506849315, 34.1361971491363),
 (60.6986301369863, 37.4399321767791),
 (60.7123287671233, 39.6662040627573),
 (60.6794520547945, 29.3182167774818),
 (60.7041095890411, 32.9235796169212),
 (60.6904109589041, 33.6084441823313),
 (60.6821917808219, 26.4818315620767),
 (60.6986301369863, 35.8149673188818),
 (60.7013698630137, 34.6779740332184),
 (60.7205479452055, 46.7714309054943),
 (60.6849315068493, 32.59655511705),
 (60.6821917808219, 29.5905254361852),
 (47.0349315068493, 68.8368612060882),
 (52.1808219178082, 45.8963256129228),
 (50.2369863013699, 67.3057837560563),
 (54.2972602739726, 51.727506994753),
 (53.7047945205479, 60.4292810959764),
 (56.5123287671233, 47.5282924694472),
 (43.8623287671233, 76.9858951910043),
 (55.2431506849315, 59.7797762606506),
 (47.4075342465753, 75.0923374573737),
 (51.2897260273973, 61.4632048129534),
 (52.1890410958904, 61.0761446069697),
 (49.1458904109589, 74.1809396908631),
 (52.186301369863, 88.864959797698),
 (45.8417808219178, 63.8609725963155),
 (74.4150684931507, 50.3801224212468),
 (73.8582191780822, 49.4679133502146),
 (74.3602739726027, 50.3995179872362),
 (73.027397260274, 61.7564745417232),
 (64.2575342465753, 47.6350390169365),
 (66.7794520547945, 42.4820430067709),
 (67.4349315068493, 58.0715211498931),
 (68.8054794520548, 51.255236847948),
 (67.363698630137, 51.7769852475612),
 (70.6452054794521, 91.9329968434873),
 (69.1595890410959, 57.3722260254827),
 (69.1979452054795, 88.2797623170404),
 (61.8335616438356, 48.4530883040834),
 (69.1842465753425, 75.1260720468303),
 (70.6424657534247, 87.3884994174804),
 (69.1897260273973, 88.2848594340772),
 (70.6315068493151, 74.3661761471691),
 (69.1952054794521, 88.2814613233539),
 (61.8006849315069, 48.4642796551123),
 (70.6369863013699, 91.9383048918118),
 (70.6342465753425, 87.3935450745768),
 (69.1897260273973, 88.2848594340772),
 (69.1869863013699, 75.1246262203929),
 (69.1924657534247, 88.2831603623659),
 (61.8006849315069, 43.9940937106346),
 (31.8404109589041, 56.2315514332294),
 (32.0219178082192, 60.7173852109413),
 (34.3328767123288, 64.9364340876725),
 (34.527397260274, 55.1801324250735),
 (32.4328767123288, 45.4925787547743),
 (34.341095890411, 71.0190148563264),
 (36.5068493150685, 170.114511940078),
 (42.6671232876712, 80.0953062778473),
 (36.5095890410959, 170.111238029276),
 (44.7479452054795, 89.6560914522053),
 (41.3924657534247, 91.7944736444841),
 (44.3479452054795, 89.9083655195435),
 (41.3404109589041, 105.881172468671),
 (49.8472602739726, 13.9127863355274),
 (44.6, 103.484318897735),
 (36.4794520547945, 95.0177888644643),
 (42.8917808219178, 79.9690049445779),
 (49.7595890410959, 26.30941014757),
 (37.7979452054795, 134.203450529367),
 (39.5719178082192, 81.8558587793563),
 (44.358904109589, 121.821048516584),
 (41.3952054794521, 124.38380589452),
 (41.6993150684931, 105.614564978048),
 (37.6993150684931, 108.624257425966),
 (36.4849315068493, 194.420588562535),
 (38.2479452054795, 127.164342540196),
 (36.7095890410959, 135.2334060179),
 (44.7342465753425, 135.722978015768),
 (49.4061643835616, 21.0867062063558),
 (44.6, 127.941754877591),
 (44.8438356164384, 103.307217363792),
 (36.7123287671233, 135.230803405673),
 (44.2383561643836, 79.2161306688038),
 (36.7013698630137, 135.241214155118),
 (49.5513698630137, 27.878922660515),
 (49.4417808219178, 33.0364980652264),
 (44.7397260273973, 127.816238897819),
 (44.7342465753425, 127.821158772564),
 (49.9212328767123, 12.0917794663387),
 (49.4034246575342, 68.0788997821113),
 (36.7232876712329, 135.220393457639),
 (36.7232876712329, 135.220393457639),
 (38.8561643835616, 82.268457595062),
 (36.7205479452055, 128.536082588734),
 (37.7020547945205, 134.293879515579),
 (37.8006849315069, 142.49707635841),
 (44.7287671232877, 121.50495054998),
 (49.5349315068493, 9.93552989743017),
 (41.3979452054795, 105.838388611424),
 (44.7369863013699, 103.384786315931),
 (36.5123287671233, 154.746132147802),
 (36.4876712328767, 143.817466011812),
 (38.8534246575342, 65.9950841236055),
 (44.6027397260274, 121.612565774573),
 (43.7034246575342, 104.138129849896),
 (49.9349315068493, 28.3999572715257),
 (61.6445205479452, 16.4456021040303),
 (60.9178082191781, 21.5261689623795),
 (60.5972602739726, 25.3107411520296),
 (62.2013698630137, 17.5132724409925),
 (60.372602739726, 22.5159878703829),
 (60.4438356164384, 28.0311283289284),
 (62.7684931506849, 13.2100702342112),
 (61.7924657534247, 19.4876288269098),
 (49.6198630136986, 40.3187752544979),
 (53.2856164383562, 34.8156096722942),
 (57.6472602739726, 33.7650745716923),
 (51.7034246575342, 45.4518181112956),
 (59.8760273972603, 26.6647902681391),
 (55.0897260273973, 41.4198749444452),
 (49.5595890410959, 63.8185309384989),
 (53.3047945205479, 36.9260930490757),
 (57.4554794520548, 33.8105930759084),
 (49.5458904109589, 49.6552357122691),
 (53.7212328767123, 48.2199899480038),
 (53.3075342465753, 41.9416785682723),
 (51.708904109589, 62.8622290334307),
 (53.3075342465753, 41.9416785682723),
 (53.2993150684932, 41.9441002064686),
 (53.2938356164384, 39.2915312112587),
 (53.7294520547945, 56.6649232319461),
 (53.3020547945206, 44.9442602611796),
 (53.3349315068493, 44.9338817515454),
 (53.3102739726027, 48.3593938886496),
 (53.7267123287671, 52.1311284456357),
 (51.7061643835616, 57.4760418910497),
 (50.0534246575342, 45.9816975018053),
 (49.836301369863, 46.0518826410703),
 (53.3047945205479, 41.9424857654692),
 (53.2828767123288, 32.9121663284197),
 (53.2965753424658, 41.9449074502716),
 (53.2965753424658, 41.9449074502716),
 (53.3047945205479, 36.9260930490757),
 (56.9479452054794, 43.8078088130095),
 (53.2883561643836, 41.9473292748978),
 (53.3020547945206, 39.2892627188533),
 (58.1, 5.73016076605025),
 (56.7178082191781, 6.05619072255696),
 (53.5047945205479, 28.6124471497525),
 (54.7904109589041, 9.16352573089725),
 (56.6054794520548, 6.79067994176647),
 (52.5287671232877, 39.3467527000896),
 (56.7205479452055, 7.99340848934481),
 (55.8952054794521, 5.90766255511355),
 (53.277397260274, 27.1586890924765),
 (56.7917808219178, 7.27431008126297),
 (56.7534246575342, 7.02206282396952),
 (52.9534246575342, 28.7234826538506),
 (56.613698630137, 7.99941039643666),
 (56.6849315068493, 6.67309378764739),
 (56.6246575342466, 6.45840013674959),
 (57.1376712328767, 5.68407857666398),
 (56.6301369863014, 7.84524764328398),
 (56.7890410958904, 5.87068543044975),
 (56.7095890410959, 7.02422544896965),
 (57.1376712328767, 6.54189670787926),
 (56.6109589041096, 6.06073805603751),
 (54.7931506849315, 10.2603275928806),
 (56.7917808219178, 8.48313081485694),
 (54.8013698630137, 10.5083313895088),
 (57.1431506849315, 8.46221824833399),
 (54.8095890410959, 9.57413099177527),
 (56.786301369863, 7.40805749964092),
 (56.4630136986301, 7.8544631899197),
 (49.8472602739726, 46.6453032139714),
 (57.7732876712329, 4.6186482261066),
 (56.7479452054795, 6.78388745238578),
 (57.0801369863014, 67.6355035177546),
 (56.8904109589041, 77.3914723794384),
 (58.6780821917808, 68.7366715768022),
 (51.4321917808219, 89.33695582475),
 (50.1849315068493, 35.0917151981654),
 (49.2691780821918, 90.7047367055934),
 (42.4945205479452, 60.4728533734159),
 (54.5904109589041, 65.2786506983851),
 (43.3116438356164, 106.132569788596),
 (50.0561643835616, 73.7081160220662),
 (50.6041095890411, 126.993169388326),
 (43.0013698630137, 77.4529093594698),
 (55.6294520547945, 28.0321267424953),
 (46.8534246575342, 75.3851969538325),
 (50.1986301369863, 81.1162882140745),
 (55.2376712328767, 78.2952125491794),
 (53.3897260273973, 117.88198718929),
 (50.1876712328767, 73.6400570125129),
 (53.3595890410959, 26.2032583646506),
 (55.6486301369863, 86.7296999792281),
 (50.2315068493151, 114.830882773688),
 (50.2342465753425, 101.094968018187),
 (50.2205479452055, 114.839723034331),
 (51.736301369863, 66.6006316572453),
 (65.7568493150685, 52.3647286855773),
 (65.7897260273973, 58.7465430231421),
 (65.7568493150685, 66.7426459921397),
 (65.7623287671233, 76.9538058557764),
 (65.7513698630137, 39.1228545801203),
 (65.8006849315069, 12.4847301291149),
 (65.8034246575343, 42.7743098742471),
 (65.7787671232877, 90.4257704784456),
 (65.7623287671233, 76.9538058557764),
 (65.7815068493151, 90.4240302041837),
 (65.7787671232877, 90.4257704784456),
 (65.7513698630137, 42.7899537974817),
 (65.7650684931507, 76.9523248539892),
 (65.7705479452055, 90.4309915021907),
 (65.7678082191781, 66.7375082020877),
 (65.7952054794521, 21.46034231681),
 (66.0006849315069, 35.9289396220594),
 (65.8061643835617, 58.7397597680471),
 (65.7732876712329, 90.4292511274484),
 (65.7760273972603, 90.4275107862003),
 (65.7815068493151, 90.4240302041837),
 (65.8061643835617, 66.7195290512887),
 (65.7815068493151, 90.4240302041837),
 (66.0034246575343, 33.2314517979048),
 (65.7979452054795, 13.8699178047189),
 (65.8061643835617, 58.7397597680471),
 (40.5178082191781, 34.0933125937828),
 (41.5184931506849, 20.8003225247326),
 (40.3780821917808, 33.9687741212211),
 (41.5212328767123, 20.4185496392511),
 (40.5205479452055, 31.8574047344944),
 (33.7184931506849, 113.531140016173),
 (37.6445205479452, 54.2641751893857),
 (38.0643835616438, 50.6808235636164),
 (39.6595890410959, 33.8270162206365),
 (36.9342465753425, 67.9845460531866),
 (32.8794520547945, 91.6103575628777),
 (39.8486301369863, 37.5452386947924),
 (37.4116438356164, 67.7569395636873),
 (30.4095890410959, 131.986784655837),
 (38.1493150684932, 47.6049811391761),
 (39.6404109589041, 34.7888083736223),
 (27.5061643835616, 134.706352350175),
 (39.6486301369863, 37.2242228657264),
 (31.9253424657534, 92.2264154899571),
 (39.6760273972603, 25.8969468349017),
 (37.7568493150685, 50.7904281837786),
 (35.5938356164384, 127.266646657441),
 (38.7958904109589, 50.4210653802899),
 (33.7212328767123, 142.983467058524),
 (35.591095890411, 99.8523744857462),
 (37.7541095890411, 38.2937541434532),
 (38.8315068493151, 50.4084520229003),
 (37.7486301369863, 45.004601964416),
 (39.6431506849315, 36.3202022981987),
 (37.9294520547945, 58.0304132977358),
 (37.7458904109589, 42.5441047661992),
 (37.8253424657534, 54.195292355194),
 (66.3054794520548, 85.1299422450325),
 (66.5986301369863, 77.7381199489442),
 (64.9671232876712, 52.4332497117322),
 (67.2486301369863, 78.2200868000988),
 (64.9780821917808, 102.15713795845),
 (66.0780821917808, 25.0708144095855),
 (50.3904109589041, 130.436106983641),
 (52.5452054794521, 84.8774451071585),
 (53.3952054794521, 84.372158458715),
 (52.4575342465753, 14.8860881759973),
 (53.4280821917808, 74.2639516784217),
 (66.5986301369863, 68.1765466810484),
 (68.3643835616438, 35.9154457694425),
 (68.4958904109589, 81.6163959035838),
 (68.3835616438356, 55.0143340581428),
 (57.8280821917808, 62.1257024468351),
 (65.1349315068493, 67.03486464844),
 (60.4657534246575, 69.2700081737711),
 (58.5958904109589, 61.7915259343924),
 (64.9287671232877, 59.1029130812171),
 (60.3150684931507, 98.8521452157633),
 (66.0671232876712, 66.5973351262239),
 (55.9335616438356, 56.1057364493532),
 (62.927397260274, 78.5016481480589),
 (62.0116438356164, 68.5218549783744),
 (63.5472602739726, 67.7866742735603),
 (64.2301369863014, 77.7865374051579),
 (58.7356164383562, 61.730905975516),
 (59.2513698630137, 54.8132381097334),
 (63.2678082191781, 59.7965406510793),
 (31.8842465753425, 66.0630466361103),
 (31.9280821917808, 60.7574208197508),
 (31.1938356164384, 12.1585270440268),
 (36.1671232876712, 64.1051034908452),
 (31.8732876712329, 72.2608911751883),
 (31.8102739726027, 12.9237637310498),
 (31.8623287671233, 56.2228944559279),
 (32.041095890411, 52.1838526394493),
 (34.272602739726, 59.7649802047005),
 (34.2287671232877, 78.2969270185653),
 (31.2897260273973, 8.58099195377957),
 (34.2561643835616, 55.2853677119037),
 (34.2917808219178, 64.9551828257414),
 (32.1698630136986, 60.6543169543088),
 (34.2205479452055, 71.0791794339882),
 (31.2815068493151, 10.5631783840666),
 (32.827397260274, 36.0098341571315),
 (34.2342465753425, 97.6018674650272),
 (31.8924657534247, 56.2109932882464),
 (34.2369863013699, 78.2924065537518),
 (31.8486301369863, 45.6796688319602),
 (35.3883561643836, 41.8785813114558),
 (31.8431506849315, 48.7672546880398),
 (34.3082191780822, 86.9338070587885),
 (34.2561643835616, 59.7718818520357),
 (35.1719178082192, 59.3886144486511),
 (36.172602739726, 58.9726104071842),
 (34.6780821917808, 42.088052486829),
 (31.2842465753425, 10.3668209110831),
 (36.1753424657534, 47.305525083213),
 (31.3198630136986, 12.1477679369375),
 (31.2842465753425, 9.99386337123234),
 (31.8157534246575, 22.6088430100906),
 (34.6753424657534, 33.7626916276807),
 (31.3308219178082, 9.31417537349765),
 (31.3253424657534, 12.6833500652174),
 (31.3198630136986, 12.1477679369375),
 (35.1746575342466, 37.3766304017901),
 (31.8184931506849, 32.7882713238953),
 (36.1698630136986, 54.5471398502897),
 (31.2952054794521, 8.71917398763931),
 (35.1828767123288, 51.0447811967865),
 (35.7253424657534, 37.2323238227971),
 (31.3335616438356, 12.1465990426016),
 (31.2869863013699, 10.1770256232016),
 (36.1917808219178, 50.6842974308057),
 (31.322602739726, 12.4102778380941),
 (35.177397260274, 59.3863285630656),
 (53.1157534246575, 72.9404204594201),
 (60.2849315068493, 69.3580511435593),
 (60.2794520547945, 93.9873190278267),
 (59.7143835616438, 69.6365876606602),
 (53.1075342465753, 46.7643624722064),
 (59.7664383561644, 37.5373437191931),
 (51.6020547945205, 64.9030901369428),
 (53.1130136986301, 72.9418242492766),
 (51.5280821917808, 85.0462663992055),
 (60.7369863013699, 40.5254805640626),
 (52.3369863013699, 84.564383495418),
 (60.2712328767123, 93.9927456890737),
 (60.2821917808219, 79.9739670632744),
 (52.9205479452055, 84.2184386195889),
 (51.6102739726027, 73.7158887844834),
 (51.5280821917808, 105.146061594648),
 (51.5308219178082, 85.0446296553028),
 (52.9041095890411, 57.3125026041927),
 (51.6075342465753, 73.7173074987749),
 (52.9095890410959, 64.3096894896297),
 (52.9095890410959, 84.2249221798504),
 (59.7253424657534, 54.6310422789558),
 (59.7719178082192, 61.2831602424045),
 (51.6047945205479, 64.9018410552188),
 (72.158904109589, 100.210087498467),
 (72.2109589041096, 73.9259597599879),
 (64.6657534246575, 55.0509206029405),
 (72.0821917808219, 85.3165347563569),
 (72.1095890410959, 73.9786200189317),
 (71.5143835616438, 47.6259586760955),
 (69.2061643835616, 40.7144633375558),
 (72.2082191780822, 73.9273825172436),
 (72.2958904109589, 47.3652187752496),
 (57.5486301369863, 10.047580244917),

In [286]:
ckd_crf_demo = pd.read_csv('ckd_crf_demo.csv')
orange_pat_demo = ckd_crf_demo[ckd_crf_demo['pat_id'].isin(orange_pat)]

In [292]:
orange_pat_demo.sex_cd.unique()
len(orange_pat_demo[orange_pat_demo['sex_cd']=='F'])

23307

In [293]:
len(orange_pat_demo[orange_pat_demo['sex_cd']=='M'])

19766

In [294]:
len(orange_pat_demo[orange_pat_demo['sex_cd']=='U'])

1

In [301]:
orange_pat_demo.race_cd.value_counts()

W    27900
B    13005
S      995
X      693
O      259
U      121
I       84
P       11
R        6
Name: race_cd, dtype: int64

In [302]:
def get_pat_sex_distribution():
    res = []
    for traj in ['orange', 'blue', 'green', 'all']:
        if traj=='all':
            pats = res_df.pat_id
        else:
            pats = res_df[res_df['traj']==traj].pat_id
        pat_demo = ckd_crf_demo[ckd_crf_demo['pat_id'].isin(pats)]
        sex_value_counts = pat_demo.sex_cd.value_counts()
        F_num = sex_value_counts.F
        M_num = sex_value_counts.M
        res.append([traj, F_num/(F_num+M_num), M_num/(F_num+M_num)])
    return res

get_pat_sex_distribution()

[['orange', 0.541104636315093, 0.458895363684907],
 ['blue', 0.5630950689214154, 0.43690493107858464],
 ['green', 0.3821127266199964, 0.6178872733800036],
 ['all', 0.5003965706084527, 0.4996034293915474]]

In [303]:
def get_pat_race_distribution():
    res = []
    for traj in ['orange', 'blue', 'green', 'all']:
        if traj=='all':
            pats = res_df.pat_id
        else:
            pats = res_df[res_df['traj']==traj].pat_id
        pat_demo = ckd_crf_demo[ckd_crf_demo['pat_id'].isin(pats)]
        race_value_counts = pat_demo.race_cd.value_counts()
        B_num = race_value_counts.B
        W_num = race_value_counts.W
        res.append([traj, B_num/(B_num+W_num), W_num/(B_num+W_num)])
    return res

get_pat_race_distribution()

[['orange', 0.3179317931793179, 0.682068206820682],
 ['blue', 0.17737268518518517, 0.8226273148148148],
 ['green', 0.13463621379797505, 0.8653637862020249],
 ['all', 0.2411142119951556, 0.7588857880048444]]

In [317]:
ckd_data_df['concept.cd'].unique()

array(['EGFR', 'TBIL', 'BP_DIASTOLIC', 'BP_SYSTOLIC', 'WT', 'HT',
       'CHOLESTEROL', 'CREATINE_KINASE', 'HEMOGLOBIN', 'INR', 'ALT_SGPT',
       'AST_SGOT', 'ALK', 'HDL', 'LDL', 'TRIGLYCERIDES', 'HBA1C',
       'TROPONIN'], dtype=object)

In [331]:
def get_concept_distribution(concept):
    x_value = []
    y_value = []
    for traj in ['orange', 'blue', 'green']:
        pats = res_df[res_df['traj']==traj].pat_id
        records = ckd_data_df[ckd_data_df['pat.id'].isin(pats)]
        target = records[records['concept.cd']==concept]   
        x_s = []
        res = []
        i = 30
        while i < 90:
            x_s.append(i)
            value = target[(target['age']>i) & (target['age']<i+5)]['nval.num'].mean()
            value = round(value, 2)
            i += 5
            if pd.isna(value):
                value = 0
            res.append(value)
        y_value.append([traj,res])
        x_value = x_s
    return x_value, y_value

get_concept_distribution('EGFR')

([30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85],
 [['orange',
   [83.14,
    80.46,
    79.45,
    74.53,
    71.94,
    67.89,
    66.01,
    65.28,
    66.64,
    68.81,
    69.19,
    70.85]],
  ['blue',
   [0,
    47.25,
    49.59,
    47.42,
    44.45,
    46.32,
    44.95,
    43.11,
    43.37,
    42.9,
    43.6,
    43.88]],
  ['green',
   [76.64,
    85.36,
    73.91,
    67.08,
    61.49,
    58.13,
    55.28,
    52.41,
    52.33,
    51.96,
    52.77,
    51.68]]])